.expander {
  $expander-arrow-width: 0.7em;
  $expander-toggle-size: 1em;
  $expander-toggle-arrow-size: $expander-toggle-size;
  $expander-toggle-margin: 1em;

  //width: 60%;

  .expander-trigger {
    @extend .p-button--positive;
    width: initial;
    /*border-bottom: $base-border;*/
    /*color: $color-link;*/
    /*cursor: pointer;*/
    /*display: block;*/
    /*font-size: $expander-toggle-size;*/
    /*margin-bottom: $expander-toggle-size;*/
    /*padding-bottom: $expander-toggle-size / 4;*/
    /*text-decoration: none;*/
    /*user-select: none;*/

    &::before {
      content: "\25BC";
      font-size: $expander-arrow-width;
      margin-right: 0.5em;
    }
  }

  .expander-content p {
    /*color: $base-font-color;*/
    /*line-height: $base-line-height;*/
  }

  .expander-hidden {
    &::before {
      content: "\25BA";
      font-size: $expander-arrow-width;
    }
  }

  .expander-hidden + .expander-content {
    display: none;
  }
}
