//layout
@include on-desktop() {
  .region-header {

    @include row-base;

    .branding {
      @include column(6, $first: true);


    }
    .site-search {

      @include column(6);


    }

  }
}
//style
.region-header {

  border-bottom: 3px solid $color-light-grey; 
  padding: 1rem 0;
  margin-bottom: 2rem;

}

