.block {
  h2 {
  
    margin-bottom: .7rem;
  
  }
  
}





.site-search {
  
  margin-top: 1.1rem;
  .form {
    text-align: right;
  }

  .form-item {
    display: inline-block;
    margin: 0;
  }
}


#search-block-form {
  text-align: right;
}
