
// Global font settings

$font-base-family:       '"Ubuntu", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif' !default;

$font-monospace:         '"Ubuntu Mono", Consolas, Monaco, Courier, monospace' !default;

$font-base-size:         16px !default;

$font-heading-family:    $font-base-family !default;

$font-import:            'http://fonts.googleapis.com/css?family=Ubuntu' !default;



h1,
%heading-1 {
  font-size: 2.134rem;
  line-height: 1.125;

  @media only screen and (min-width: $breakpoint-medium)  {
    font-size: 2.5rem;
    line-height: 1.2;
  }

  @media only screen and (min-width: $breakpoint-large) {
    font-size: 2.5rem;
    line-height: 1.25;

  }
}

h2,
%heading-2 {
  font-size: 1.734rem;
  line-height: 1.154;

  @media only screen and (min-width: $breakpoint-medium)  {
    font-size: 2rem;
    line-height: 1.25;
  }

  @media only screen and (min-width: $breakpoint-large) {
    //font-size: 2.25rem;
    font-size: 1.75rem;
    line-height: 1.167;
  }
}

h3,
%heading-3 {
  font-size: 1.534rem;
  line-height: 1.305;

  @media only screen and (min-width: $breakpoint-medium)  {
    font-size: 1.625rem;
    line-height: 1.154;
  }

  @media only screen and (min-width: $breakpoint-large) {
    font-size: 1.75rem;
    line-height: 1.286;
  }
}

