
// Global color settings

$color-yellow: #fff400;
$color-green: #006e3a;
$color-blue:        #007399;
$color-blue-grey:        #80a4bb;
$color-transparent:      transparent !default;
$color-light-grey: #efefef;

/*$color-brand:            #333 !default;*/
$color-brand:            #007399 !default;
/*$color-link:        #007aa6 !default;*/
$color-link: $color-blue;        

$color-x-light:          #fff !default;
$color-light:            #f7f7f7 !default;
//$color-mid-light:        #cdcdcd !default;
$color-mid-light:        #cdcdcd !default;
$color-mid-dark:         #666 !default;
$color-dark:             #333 !default;
$color-x-dark:           #000 !default;
$color-negative:         #d73024 !default;
$color-warning:          #f99b11 !default;
//$color-positive:         #0f8420 !default;
$color-positive:         $color-blue;
$color-information:      #0099cc;

$color-input-shadow:     rgba($color-x-dark, .12) !default;

// for _patterns_grid-list.scss
$grid-border-style:      1px dotted $color-mid-light !default;

$states: (
  error: $color-negative,
  warning: $color-warning,
  success: $color-positive,
  information: $color-information
);
$base-border: 1px solid $color-light-grey;
$dotted-border: 1px dotted $color-light-grey;
$big-border:  3px solid $color-light-grey;
$base-border-radius: .125rem;
$base-box-shadow: 0 1px 5px 1px hsla(0,0%,7%,.2);

// Animations
 $base-timing: ease;
 $base-duration: 150ms;
